extend layout
block head
  link(rel='stylesheet', href='/stylesheets/dashboard.css')
  script(src="/javascripts/react.js")
  script(src="/javascripts/immutable.js")
  script(src="/javascripts/logic.js")
  script(src="/javascripts/ui.js")

block body
  .posts-wrapper
  .loading-posts
    span &#8734;

  include ../lib/_analytics

