extend layout
block head
  script(src="/javascripts/stream-show.js")
block main
    each post in posts
      if (post.type === 'photo')
        each photo in post.photos
          div.post.photo-post
            img(src=photo.alt_sizes[0].url, data-post=JSON.stringify(post))
