extend layout
block head
  link(rel='stylesheet', href='/stylesheets/dashboard.css')
  script(src="/javascripts/underscore.js")
  script(src="/javascripts/dashboard.js")

block body
  .posts-wrapper
  .loading-posts
    span &#8734;
