@import "reset";
@import "clearfix";

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: #0097FF;
}

body.stream_show {

  .main-nav {
    opacity: 0;
    left: -100px;
    &:hover {
      left: 0px;
      opacity: 1;
    }
  }

  .main-stream {
    padding: 0;
  }
}

body.stream_organize {
  .main-stream {
    padding-top: 100px;
  }
}

.main-nav {
  width: 200px;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 100px 20px;
  font-size: 14px;
  -webkit-transition: all 300ms ease-in-out;


  a {
    display: block;
    color: #616161;
    padding: 5px;
    &.active {
      font-weight: 600;
      color: black;
    }
  }
  a.home-link {
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.main-stream {
  padding-left: 200px;
  line-height: 1.2em;

  ol {
    list-style-type: decimal;
    padding: 1em 0 1em 1.5em;
  }

  small {
    font-size: 0.8em;
  }

}

.top-buttons {
  position: fixed;
  top: 0;
  left: 220px;

  .top-button {
    background: #F0F0F0;
    padding: 10px 30px 15px;
    font-size: 40px;
    font-weight: 300;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;

    &.primary {
      background: #21B3E4;
      color: white;
    }
  }
}


.streams-container {
  padding-top: 30px;

  .stream {
    float: left;
    padding: 0 64px 64px 0;
    line-height: 1.7em;
  }

  .stream-name {
    font-color: black;
    font-size: 20px;
    border: none;
  }
  .stream-blogs {
    min-height: 50px;
    &.can-recieve {
      border: 1px dashed #616161;
    }
  }
  .blog {
    font-size: 14px;
    color: #616161;
    cursor: move;
  }
}

.messages {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.messages-info .message {
  background: #21B3E4;
  color: white;
  padding: 20px 200px;
}


.blog-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
  iframe {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 350px;
  }
}
.blog-preview--text {
  padding: 50px;
  color: black;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5em;

  small {
    font-size: 0.7em;
  }
}
.blog-preview--name {
  font-weight: 600;
}

body.is-previewing {
  .main-nav, .main-stream {
    opacity: 0.2;
  }
}


.show-image-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  // -webkit-filter: blur(4px);
  // -webkit-transform: scale(1.1);
  background-size: cover;
  background-position: center center;

}
.show-image-info {
  position: fixed;
  z-index: 11;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px;
  background: rgba(0,0,0, .85);
  font-weight: 300;
  line-height: 1.3em;

  a {
    color: white;
    border-bottom: 1px solid #353535;
  }
}
.show-image-info--caption {
  strong {
    font-weight: 400;
  }
  em {
    font-style: italic;
  }
  blockquote {
    color: #818181;
    padding: 20px;
  }
}

.post {
  padding: 0;
}

.photo-post {
  text-align: center;
  img {
    max-width: 100%;
    margin: 0;
  }
}
