/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'courier_primeregular';
  src: url("../fonts/courier_prime-webfont.eot");
  src: url("../fonts/courier_prime-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courier_prime-webfont.woff") format("woff"), url("../fonts/courier_prime-webfont.ttf") format("truetype"), url("../fonts/courier_prime-webfont.svg#courier_primeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'courier_primeregular', monospace, sans-serif;
  font-weight: 200; }

a {
  color: white;
  text-decoration: none;
  background: #252525; }

.post {
  min-height: 100vh;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
  line-height: 1.2em; }
  .post .blogname {
    padding: 0 0 10px; }
    .post .blogname a {
      font-weight: 600; }
    .post .blogname .title {
      display: inline-block;
      margin-left: 10px; }
  .post p {
    margin: 0 0 10px; }
  .post blockquote {
    padding: 0 20px;
    margin: 20px 0;
    border-left: 2px solid #eee; }
  .post.post--photo .inner {
    text-align: center; }
    .post.post--photo .inner img {
      opacity: 0;
      max-width: 100vw;
      -webkit-transition: opacity 0.4s cubic-bezier(0.29, 0.92, 0.79, 0.93);
      transition: opacity 0.4s cubic-bezier(0.29, 0.92, 0.79, 0.93); }
      .post.post--photo .inner img.is-loaded {
        opacity: 1; }
    .post.post--photo .inner .blogname {
      margin-top: -5px; }
    .post.post--photo .inner .details {
      text-align: left;
      max-width: 640px;
      padding-bottom: 20px; }
    .post.post--photo .inner .caption, .post.post--photo .inner .tags {
      font-size: 13px; }
  .post.post--text .inner, .post.post--link .inner, .post.post--quote .inner, .post.post--video .inner {
    max-width: 640px;
    margin: 0 20px; }
  .post .tags {
    color: #bbb;
    opacity: 0;
    -webkit-transition: opacity 0.3s cubic-bezier(0.29, 0.92, 0.79, 0.93);
    transition: opacity 0.3s cubic-bezier(0.29, 0.92, 0.79, 0.93); }
  .post .inner:hover .tags {
    opacity: 1; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0; }

  70% {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

.loading-posts {
  background: #F7F7F7;
  color: #bbbbbb;
  text-align: center;
  padding: 100px;
  font-size: 3em;
  font-weight: 200; }
  .loading-posts span {
    display: inline-block;
    font-family: sans-serif;
    -webkit-animation: pulsate 1.3s cubic-bezier(0.3, 0.93, 0.71, 0.94) 0 infinite normal none running;
    animation: pulsate 1.3s cubic-bezier(0.3, 0.93, 0.71, 0.94) 0 infinite normal none running;
    opacity: 0; }
